{% if post.author %}
{% assign authorKey = post.author %}
{% elsif page.author %}
{% assign authorKey = page.author %}
{% endif %}

{% if authorKey %}
{% assign person = site.data.people[authorKey] %}
<small class="Author absolute">
    {% include page/Profile.html image=person.gravatar description=person.name_long classes='Author__profile right' %}
    <ol class="right my1 mr3 list-reset full-width Author__details ffss">
        <li class="inline-block">
            <a href="mailto:{{ person.email}}">
                {{ person.name_long }}
            </a>
        </li>

        {% if page.date %}
        <li class="inline-block">
            {{ page.date | date: "%-d %B %Y" }}
        </li>
        {% endif %}
    </ol>
</small>
{% endif %}