{% if post.author %}
{% assign authorKey = post.author %}
{% elsif page.author %}
{% assign authorKey = page.author %}
{% endif %}

{% if authorKey %}
{% assign person = site.data.people[authorKey] %}
<div class="Author absolute">
    <img src="{{ person.gravatar }}" alt="{{ person.name_long }}" class="Profile Author__profile right">
    <ol class="right my1 mr3 list-reset full-width Author__details">
        <li class="inline-block">
            {{ person.name_long }}
        </li>
        <li class="inline-block">
            {{ page.date | date: "%-d %B %Y" }}
        </li>
    </ol>
</div>
{% endif %}