<div class="mxn1 clearfix">
    <div class="sm-col sm-col-12 p1">
        <a href="{{ '/work/enterprise-ux/' | prepend: site.baseurl }}"
           class="border rounded px3 py4 block">
            <div class="max-width-3">
                <h3 class="h1 m0">Creating better business systems<br/> for internal tools</h3>
                <p class="mb0 h3">People-centered design that boosts your bottom line.</p>
            </div>
        </a>
    </div>
    <div class="sm-col sm-col-12 md-col-6 p1">
        <a href="{{ '/work/enterprise-ux/raise-your-bottom-line/' | prepend: site.baseurl }}"
           class="border rounded px3 py4 block">
            <div class="max-width-2">
                <h3 class="h2 m0">Invest in your systems and get a <i>competitive&nbsp;edge</i></h3>
                <p class="mb0 h4">Doing things for business</p>
            </div>
        </a>
    </div>
    <div class="sm-col sm-col-12 md-col-6 p1">
        <a href="{{ '/work/enterprise-ux/raise-your-bottom-line/' | prepend: site.baseurl }}"
           class="border rounded px3 py4 block">
            <div class="max-width-2">
                <h3 class="h2 m0">Calculate the&nbsp;<i>ROI</i>&nbsp;of your internal systems</h3>
                <p class="mb0 h4">Doing things for business</p>
            </div>
        </a>
    </div>
</div>