<a href="{{ '/work/enterprise-ux/' | prepend: site.baseurl }}"
   class="Promo p"
   style="background-image: url({{ '/static/images/promos/enterprise-ux.jpg' | prepend: site.baseurl }}); height:
   400px;">

    <div class="row align-middle Promo__row">
        <div class="small-10 medium-8 large-6 column Promo__content">
            <h3>Creating better business systems for internal tools</h3>
            <div class="cta-label">
                <span class="cta-label__instruction">Read More</span>
                <span class="cta-label__label">People-centered design that boosts your bottom line.</span>
            </div>
        </div>
    </div>
</a>
