<a href="{{ '/work/enterprise-ux/' | prepend: site.baseurl }}"
   class="Promo"
   style="background-image: url({{ '/static/images/promos/enterprise-ux.jpg' | prepend: site.baseurl }}); height:
   400px;">
    <div class="max-width-1 flex flex-column justify-between"
         style="height: 100%;">
        <h3 class="h1 m0">Creating better business systems<br/> for internal tools</h3>
        <p class="mb0">
            <span class="Tag">Read More</span>
            People-centered design that boosts your bottom line.
        </p>
    </div>
</a>
