{% if page.bannerTheme %}
<div class="Top-Bar Top-Bar--{{ page.bannerTheme }}">
{% else %}
<div class="Top-Bar">
{% endif %}
    <div class="row">
        <div class="column">
            <div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="large">
                <div class="title-bar-left">
                <span class="title-bar-title">
                    <a href="{{ '/' | prepend: site.baseurl }}"
                       class="icon-anchor">
                        {% include icons/logo--small.svg %}
                    </a>
                </span>
                </div>
                <div class="title-bar-right">
                    <button type="button" data-open="offCanvasRight">
                        {% include icons/menu.svg class='icon-menu' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>