{% if page.bannerTheme %}
<div class="Top-Bar Top-Bar--{{ page.bannerTheme }}">
{% else %}
<div class="Top-Bar">
{% endif %}
    <div class="row">
        <div class="small-12 medium-offset-1 medium-10 column">
            <div id="widemenu" class="top-bar">
                <a href="{{ '/' | prepend: site.baseurl }}"
                   class="icon-anchor Top-Bar__logo">
                    {% include icons/logo--large.svg %}
                </a>
                <div class="top-bar-right">
                    <ul class="menu menu--right h5">
                        {% for item in site.menu %}
                        <li>
                            <a href="{{ item.link | prepend: site.baseurl }}">
                                {{ item.label }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>