<div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">

    {% include icons/logo--small.svg class='mt2' %}

    <button type="button"
            class="toggle-button"
            data-toggle="offCanvasRight">
        {% include icons/close-navigation.svg class='icon-close' %}
    </button>

    <nav>
        <ul class="text-center no-bullet h2">
            <li class="mv">
                <a href="{{ '/' | prepend: site.baseurl }}">
                    Home
                </a>
            </li>
            <li class="mv">
                <a href="{{ '/work/designing-tools-for-business/' | prepend: site.baseurl }}">
                    Enterprise software
                </a>
            </li>
            {% for item in site.menu %}
            <li class="mv">
                <a href="{{ item.link | prepend: site.baseurl }}">
                    {{ item.label }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</div>
