<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script>
    function generateScene(trigger) {
        var elems = trigger.getElementsByClassName('Fade');

        if (elems.length === 0) {
            return null;
        }

        var elem = elems[0];
        elem.classList.add('Fade--init');
        return new ScrollMagic
                .Scene({triggerElement: trigger})
                .setClassToggle(elem, 'Fade--visible')
                .offset(-200);
    }

    var triggers = Array.prototype.slice.call(document.getElementsByClassName('Fade__trigger'));
    var scenes = triggers.map(generateScene);

    var controller = new ScrollMagic.Controller();
    controller.addScene(scenes);
</script>