<blockquote class="Panel Panel--quote {{ site.animation_in_classes }} p md-p2 mb0">
    <div class="row align-middle">
        <div class="small-12 medium-8 large-9 small-order-2 column sm-mt-only">
            <p class="mb0 Panel--quote__text">{{ include.text }}</p>
        </div>
        <cite class="small-12 medium-4 large-3 small-order-1 column">
            <img src="{{ '/static/images/projects/freebird/' | prepend: site.baseurl | append: 'profile.jpg' }}"
                 alt="Chris Elphick"
                 class="Panel--quote__profile">
            {% include icons/itv.svg class='Panel--quote__logo' %}
            <p class="mb0 h6">{{ include.name }}</p>
            <p class="mb0 h6">{{ include.role }}</p>
        </cite>
    </div>
</blockquote>