{% assign slug = include.slug | split: "/" %}

{% if slug %}

{% if include.long_title %}
<h1 class="{{ site.animation_in_classes }}">{{ include.long_title }}</h1>
{% else %}
<h1 class="{{ site.animation_in_classes }}">{{ include.title }}</h1>
{% endif %}

{% else %}

{% if include.long_title %}
<h1 class="{{ site.animation_in_classes }}">{{ include.long_title }}</h1>
{% else %}
<h1 class="{{ site.animation_in_classes }}">{{ include.title }}</h1>
{% endif %}

{% endif %}

{% if include.standfirst %}
<p class="lead {{ site.animation_in_classes }} Titles__standfirst mb0">{{ include.standfirst }}</p>
{% endif %}
