<a href="{{ '/work/designing-tools-for-business/' | prepend: site.baseurl }}"
   class="Promo Promo--enterprise {{ site.animation_in_classes }} p md-p2 lg-p3"
   style="background-image: url({{ '/static/images/business-systems/promo.jpg' | prepend: site.baseurl }});">
    <div class="Promo__content">
        <h3 class="h2 Promo__heading">Creating better business systems for internal tools</h3>
        <div class="cta-label">
            <p class="cta-label__instruction mb0">Read how</p>
            <p class="cta-label__label h4 mb0">People-centered design <br/>can boost your bottom line</p>
        </div>
    </div>
</a>
