---
layout: page
title: "Designing for life at work"
SEO_title: "Blog: Designing for life at work"
standfirst: >
  Exploring the role design and tech can play in shaping our everyday working lives.

  <br />View the <a href="https://medium.com/designing-for-life-at-work">publication on Medium</a>.

description: >
  100 Shapes blog exploring the role design and tech can play in shaping our everyday working lives.

---

<div class="row mb2">
    <div class="medium-offset-1 medium-10 column">
        <div class="row small-up-1 large-up-2">
            {% for post in site.posts %}
            <div class="column mb">
                {% include page/post-promo.html post=post %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>



