---
title: Home
long_title: UX design of enterprise software and business apps
layout: default
pageClass: page--home
---

<header class="Banner fcw">
    <div class="row">
        <div class="small-12 medium-offset-1 medium-10 large-7 column">
            <h1 class="hide">{{ site.long_title }}</h1>

            <h2 class="h1 {{ site.animation_in_classes }}">
                All great software <br class="hide-for-small-only" />has people at its heart.
            </h2>

            <p class="lead {{ site.animation_in_classes }} Titles__standfirst mb0">
                Enterprise software works better when designed for the people who use it. That’s why 100 Shapes puts the user
                experience at the centre of every business application and internal tool we design.
            </p>
        </div>
    </div>
</header>

<div class="row mb2">
    <div class="medium-offset-1 medium-10 column">
        <h2 class="hide">Enterprise software and business apps</h2>
        {% include page/tools-for-business-promo.html %}
    </div>
</div>

<div class="row mb2">
    <div class="medium-offset-1 medium-10 column mt2">
        <h2 id="projects">Businesses seeing the benefits of UX design</h2>
        <div class="row">
            {% assign featured_projects = site.projects | where: 'featured', true | sort: 'priority' | reverse %}
            {% for project in featured_projects %}
            <div class="small-12 column mb">
                {% include page/project-promo.html project=project %}
            </div>
            {% endfor %}
        </div>
        <a href="{{ '/work/' | prepend: site.baseurl }}" class="expanded button large hollow h4">See more of our
            work</a>
    </div>
</div>

<div class="row mb2">
    <div class="medium-offset-1 medium-10 column mt2">
        <h2>Experiments and innovations</h2>
        <div class="main mb2">
            <p>
                Get a bunch of curious, creative, hands-on people in a room and things start to happen.
                Sometimes our tinkering kicks off a whole new venture, software, tool or app.
            </p>
        </div>
        <div class="row">
            {% for item in site.data.ventures %}
            {% assign venture = item | last %}
            <div class="small-12 column mb">
                {% include ventures/list-item.html venture=venture key=item.first %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="row mb2">
    <div class="medium-offset-1 medium-10 column mt2">
        <h2>About 100 Shapes</h2>
        <div class="main mb2">
            <p>
                100 Shapes are an enterprise UX ('user experience') &amp; design agency focused
                on designing enterprise software and business apps for better
                business performance; helping large organisations run more productively.
            </p>
            <p>
                We help identify inefficient workflows and processes within large organisations
                and create business architectures and enterprise tools to change them for the better.
                We do this by putting staff at the centre of the design process because we understand
                that happier employees and better designed business apps mean more efficient businesses.
            </p>
            <p>
                Can we help with a business application?
                <a href="#" class="chat-toggle">Get in touch</a> for free UX consultation and quote.
            </p>
        </div>
    </div>
</div>

<div class="Video-Banner">
</div>
