---
title: Home
long_title: UX design for business systems and digital products
description:
  100 Shapes designs enterprise software, applications and other digital tools based on user experience
  principles for better business performance.
layout: default
pageClass: page--home
---

<header class="Banner fcw">
    <div class="row align-middle">
        <div class="small-12 medium-offset-1 medium-10 large-6 column">
            <h1 class="hide">100 Shapes {{ site.title }}</h1>

            <h1>
                All great design has people at its heart.
            </h1>
        </div>
        <div class="small-12 medium-offset-1 medium-10 large-offset-0 large-4 column">
            <p>
                At 100 Shapes we design business systems and digital products that put the user experience (UX)
                at the centre. Because tools work better when designed around the people who use them.
            </p>
        </div>
    </div>
</header>

<div class="row mb2">
    <div class="medium-offset-1 medium-10 column">
        <h2 class="h5 fcw"
            id="enterprise-ux">Business systems and enterprise software</h2>
        {% include page/enterprise-promo.html %}
    </div>
</div>


<div class="row mb2">
    <div class="medium-offset-1 medium-10 column">
        <h2 class="h5"
            id="projects">Organisations seeing the benefits of UX design</h2>
        <div class="row">
            {% assign featured_projects = site.projects | where: 'featured', true %}
            {% for project in featured_projects %}
            <div class="small-12 column mb">
                {% include page/project-promo.html project=project %}
            </div>
            {% endfor %}
        </div>
        <a href="{{ '/work/' | prepend: site.baseurl }}">See more of our work</a>
    </div>
</div>

<div class="row mb2">
    <div class="medium-offset-1 medium-10 column">
        <h2 class="h5">Experiments and innovations</h2>
        <p class="lead">
            Get a bunch of curious, creative, hands-on people in a room and things start to happen. Sometimes our tinkering kicks off a whole new venture or product.
        </p>
        <div class="row">
            {% for item in site.data.ventures %}
            {% assign venture = item | last %}
            <div class="small-12 column mb">
                {% include ventures/list-item.html venture=venture %}
            </div>
            {% endfor %}
        </div>

    </div>
</div>

<div class="Video-Banner">
    <video class="Video-Banner__Video"
           poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline autoplay muted loop>
        <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
        <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
    </video>
</div>
