---
promo_title: Music commentary from across the web, curated and showcased by the BBC
promo_image: placeholder.jpg
title: Music commentary from across the web, curated and showcased by the BBC.
featured: true
project_name: "BBC Freebird"
themeColour: '#fc0'
icon: bbc
standfirst: |
  Good system design isn’t just what an interface looks like. Systems and tools work measurably better good system design isn’t just what an interface looks like. System design isn’t just what an  and tools work measurably better good system design isn’t just what an interface looks like.
---

<div class="row">
    <div class="column">
        {% assign images = '1.jpg|1.jpg|1.jpg' | split: "|" %}
        {% for image in images %}
        <img src="{{ '/static/images/projects/freebird/' | prepend: site.baseurl | append: image }}"
             alt="Laptop Screen"
             class="mb Panel {{ site.animation_in_classes }}">
        {% endfor %}

        {% include page/quote.html name='Chris Elphick' role='Design Director' text='Hello there, Those people who
        think they know everything
        are a great annoyance to those of us who do. Those people who think they know everything are a great annoyance to those of us who do.' %}
    </div>
</div>
