---
promo_title: Music commentary from across the web, curated and showcased by the BBC
promo_image: freebird/promo.jpg
title: Music commentary from across the web, curated and showcased by the BBC
featured: true
project_name: "BBC Freebird"
bannerTheme: yellow
icon: bbc
category: app
standfirst: |
  Project Freebird was designed to present external content on the BBC website while staying true to the broadcaster’s
  core principle of balance.
---

<div class="row main">
    <div class="medium-offset-1 medium-10 column">
        <p>
            The decision to feature external music reviews and articles on its own branded platform was a major
            departure for the BBC. Our brief was to take the BBC’s sophisticated new content-browsing algorithm and
            apply it to create meaningful music discovery experiences.
        </p>
        <p>
            We designed, built and audience-tested a Freebird module with its own visual identity that summarises and
            presents a clear balance of music news and criticism. Feedback on the recent pilot has been highly positive
            from audiences and stakeholders, and shown that the BBC can offer a quality curatorial service while
            safeguarding its own brand. The BBC is considering other ways Freebird can be applied across its wider
            digital innovation strategy.
        </p>
    </div>
</div>

<div class="row">
    <div class="medium-offset-1 medium-10 column">
        {% assign images = '1.jpg|1.jpg|1.jpg' | split: "|" %}
        {% for image in images %}
        <img src="{{ '/static/images/projects/freebird/' | prepend: site.baseurl | append: image }}"
             alt="Laptop Screen"
             class="mb Panel {{ site.animation_in_classes }}">
        {% endfor %}

        {% include page/quote.html name='Chris Elphick' role='Design Director' text='Hello there, Those people who
        think they know everything
        are a great annoyance to those of us who do. Those people who think they know everything are a great annoyance
        to those of us who do.' %}
    </div>
</div>
