---
promo_title: An interactive ad widget, integrated into ITV Player as a targeted CRM tool for ITV
promo_image: adsave/promo.jpg
title: An interactive ad widget, integrated into ITV Player as a targeted CRM tool for ITV
featured: false
icon: itv
category: app
project_name: ITV AdSave
standfirst: |
  ITV AdSave showed ITV how it could build a relationship with the viewer that offered genuine value on the
  customer’s terms, unlike the one-way broadcast of an ad.
---

<div class="row main">
    <div class="medium-offset-1 medium-10 column">
        <p>
            ITV’s commercial department wanted to make marketing messages within its online TV service more relevant and
            useful. In response, 100 Shapes developed Ad Save, a tool that allowed viewers to save and collect offers to
            a ‘wallet’ within ITV Player, and redeem them across all devices.
        </p>
        <p>
            We designed and built a working prototype and tested it in a live pilot within the real ITV Player
            interface. Targeted audiences were genuinely receptive to the personalised wallet experience and the
            perceived increase in relevance of the interactive ads.
        </p>
        <p>
            Following successful usability testing we held a presentation and future-applications workshop with senior
            ITV stakeholders, demonstrating a range of use cases for interactive ads and how they could form a key
            element of ITV’s future customer engagement strategy.
        </p>
    </div>
</div>

<div class="row">
    <div class="medium-offset-1 medium-10 column">
        {% assign images = '1.jpg|1.jpg|1.jpg' | split: "|" %}
        {% for image in images %}
        <img src="{{ '/static/images/projects/freebird/' | prepend: site.baseurl | append: image }}"
             alt="Laptop Screen"
             class="mb Panel {{ site.animation_in_classes }}">
        {% endfor %}

        {% include page/quote.html name='Chris Elphick' role='Design Director' text='Hello there, Those people who
        think they know everything
        are a great annoyance to those of us who do. Those people who think they know everything are a great annoyance
        to those of us who do.' %}
    </div>
</div>