---
promo_title: A streamlined, cost-saving new promo production system for ITV
promo_image: freebird/promo.jpg
title: A streamlined, cost-saving new promo production system for ITV
featured: true
icon: itv
category: enterprise
priority: 3
bannerTheme: blue
project_name: "Project Deidre"
standfirst: |
  Named for ITV’s beloved Deirdre Barlow, Project Deirdre centralised and simplified ITV’s complex
  programme promotion system.
---

<div class="row main">
    <div class="medium-offset-1 medium-10 column">
        <p>
            Our brief was to review and fix a convoluted, time-consuming production and approval
            process between creative, marketing, scheduling and legal teams across multiple simultaneous campaigns.
        </p>
        <p>
            An embedded 100 Shapes team worked closely with ITV to design a simple, accessible promo database.
            By creating a ‘single source of truth’ with an integrated push email system, we were able to dramatically
            simplify workflows and reduce user clicks, double-ups and error rates.
        </p>
        <p>
            Deirdre increased efficiency so markedly that ITV no longer needed to employ additional staff in busy
            seasons, delivering substantial cost savings to the business. The system won ITV’s 2016 Technical Supplier
            for Innovation and Design Award.
        </p>
    </div>
</div>

<div class="row">
    <div class="medium-offset-1 medium-10 column">
        {% assign images = '1.jpg|1.jpg|1.jpg' | split: "|" %}
        {% for image in images %}
        <img src="{{ '/static/images/projects/freebird/' | prepend: site.baseurl | append: image }}"
             alt="Laptop Screen"
             class="mb Panel {{ site.animation_in_classes }}">
        {% endfor %}

        {% include page/quote.html name='Chris Elphick' role='Design Director' text='Hello there, Those people who
        think they know everything
        are a great annoyance to those of us who do. Those people who think they know everything are a great annoyance
        to those of us who do.' %}
    </div>
</div>