<hr class="mt1"/>
<footer>
    <div class="max-width-3 mx-auto">
        <div class="clearfix">
            <div class="col col-12 px2">
                {% include menu.html %}
            </div>
        </div>
    </div>
    <hr/>
    <div class="max-width-3 mx-auto">
        <div class="clearfix">
            <small class="col col-12 px2 mb2">
                <ul class="list-reset">
                    <li class="inline-block mr2">Minor</li>
                    <li class="inline-block mr2">Something here</li>
                    <li class="inline-block mr2">&copy; 2016. 100 Shapes Ltd.</li>
                </ul>
            </small>
        </div>
    </div>
</footer>