<footer class="mt4 pt4">
    <div class="max-width-4 mx-auto">
        <div class="clearfix">
            <div class="col col-12 px2 mb3">
                {% include menu.html %}
            </div>
            <small class="col col-12 px2 mb2">
                <ul class="list-reset">
                    <li class="inline-block mr2">
                        <a href="{{ site.address_link }}">
                            Map
                        </a>
                    </li>
                    <li class="inline-block mr2">
                        <a href="https://www.instagram.com/{{ site.instagram_username }}/"
                           title="100 Shapes Instagram page">
                            @100Shapes on Instagram
                        </a>
                    </li>
                    <li class="inline-block mr2">&copy; {{ 'now' | date: "%Y" }}. 100 Shapes Ltd. All rights
                        reserved.</li>
                </ul>
            </small>
        </div>
    </div>
</footer>