<footer class="Footer mt4 py4">
    <div class="Wrapper max-width-4">
        <div class="clearfix">
            <div class="col col-10 mb2 ">
                <ul class="list-reset full-width font_small">
                    <li class="inline-block mr3">
                        <a href="mailto:{{ site.email }}">
                            {{ site.email }}
                        </a>
                    </li>
                    <li class="inline-block mr3">
                        <a href="tel:{{ site.phone_number }}">
                            {{ site.phone_number_display }}
                        </a>
                    </li>
                    <li class="inline-block mr3">
                        <a href="{{ site.address_link }}">
                            {{ site.address }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col col-2 right-align">
                <ul class="list-reset full-width font_small">
                    {% for item in site.data.networks %}
                    {% assign network = item | last %}
                    <li class="inline-block mr1">
                        <a href="{{ network.link }}">
                            {{ network.icon }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col col-12 mb2">
                <ul class="list-reset full-width font_small">
                    <li class="inline-block mr3">&copy; {{ 'now' | date: "%Y" }}. 100 Shapes Ltd. All rights
                        reserved.
                    </li>
                    <li class="inline-block mr3">
                        Approved design &amp; UX Supplier for the BBC, ITV and the Crown.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>