<header>
    <div class="max-width-3 mx-auto m2">
        <div class="clearfix">
            <div class="col col-12 px2">
                <a href="{{ site.baseurl }}">100 Shapes</a>
            </div>

            <div class="col col-12 px2">
                <div class="col sm-col-12 md-col-6">
                    <p class="mt0">
                        {{ site.title }}
                    </p>
                </div>

                <div class="col sm-col-12 md-col-6 md-right-align">
                    <ul class="list-reset m0">
                        <li class="inline-block mr2">
                            <a href="mailto:{{ site.email }}">
                                {{ site.email }}
                            </a>
                        </li>
                        <li class="inline-block">
                            <a href="tel:{{ site.phone_number }}">
                                {{ site.phone_number_display }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="max-width-3 mx-auto m2">
        <div class="clearfix">
            <div class="col col-12 px2">
                <nav class="clearfix">
                    {% include menu.html %}
                </nav>
            </div>
        </div>
    </div>

    <hr>
</header>
