<header class="mt3">
    <div class="max-width-4 mx-auto m2">
        <div class="clearfix">
            <div class="col col-12 px2">
                <a href="{{ '/' | prepend: site.baseurl }}">100 Shapes</a>
            </div>

            <div class="col col-12 px2">
                <div class="sm-col sm-col-12 md-col-6">
                    <p class="mt0">
                        {{ site.title }}
                    </p>
                </div>

                <div class="sm-col sm-col-12 md-col-6">
                    <ul class="list-reset md-right-align m0">
                        <li class="inline-block mr2">
                            <a href="mailto:{{ site.email }}">
                                <small class="md-hide lg-hide">Email</small>
                                <span class="xs-hide sm-hide">{{ site.email }}</span>
                            </a>
                        </li>
                        <li class="inline-block mr2">
                            <a href="tel:{{ site.phone_number }}">
                                <small class="md-hide lg-hide">Call</small>
                                <span class="xs-hide sm-hide">{{ site.phone_number_display }}</span>
                            </a>
                        </li>
                        <li class="inline-block">
                            <a href="{{ site.address_link }}">
                                <small>Map</small>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="max-width-4 mx-auto m2">
        <div class="clearfix">
            <div class="col col-12 px2">
                {% include menu.html %}
            </div>
        </div>
    </div>
</header>
