<ul class="list-reset">
    <li class="inline-block mr2">
        <a href="{{ '/' | prepend: site.baseurl }}">Home</a>
    </li>
    <li class="inline-block mr2">
        <a href="{{ '/work/' | prepend: site.baseurl }}">Work</a>
    </li>
    <li class="inline-block mr2">
        <a href="{{ '/blog/' | prepend: site.baseurl }}">Blog</a>
    </li>
    <li class="inline-block mr2">
        <a href="{{ '/about-us/' | prepend: site.baseurl }}">About Us</a>
    </li>
    <li class="inline-block mr2">
        <a href="{{ '/join-us/' | prepend: site.baseurl }}">Join Us</a>
    </li>
</ul>