<nav class="Menu">
    <h1 class="hide">Site navigation</h1>
    <ul class="list-reset">
        <li class="inline-block mr3">
            <a href="{{ '/' | prepend: site.baseurl }}"
               class="h4">Home</a>
        </li>
        <li class="inline-block mr3">
            <a href="{{ '/work/enterprise-ux/' | prepend: site.baseurl }}"
               class="h4">UX for Enterprise</a>
        </li>
        <li class="inline-block mr3">
            <a href="{{ '/work/' | prepend: site.baseurl }}"
               class="h4">Work</a>
        </li>
        <li class="inline-block mr3">
            <a href="{{ '/join-us/' | prepend: site.baseurl }}"
               class="h4">Join Us</a>
        </li>
    </ul>
</nav>
