<header class="Top-Bar pv">
    <div class="row align-middle">
        <div class="small-6 column">
            {% include logo.html %}
        </div>
        <div class="small-6 column">
            <ul class="menu menu--right h5">
                {% for item in site.menu %}
                <li>
                    <a href="{{ item.link | prepend: site.baseurl }}">
                        {{ item.label }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</header>