.page--enterprise {
  background-color: map-get($foundation-palette, primary);
  color: $white;

  a, .icon-anchor {
    color: $yellow;
    fill: $yellow;

    &:hover {
      color: $orange;
      fill: $orange;
    }

  }
}