.page--enterprise {
  background: $blue-dark url('../images/business-systems/banner.jpg') no-repeat top center;
  background-size: auto;
  color: $white;

  a, .icon-anchor, .Top-Bar button {
    color: $yellow;
    fill: $yellow;

    &:hover {
      color: $white;
      fill: $white !important;
    }
  }

  .main a {
    font-weight: bold;
    border-bottom: 1px dotted $yellow;

    &:hover {
      border-bottom-style: solid;
    }
  }

  .Footer .Panel {
    background-color: $blue;
  }

  .ctas a {
    border-bottom: none !important;
    display: flex;

    span {
      margin-left: 10px;
    }
  }

  label {
    color: inherit;
  }
}
