.page--enterprise {
  background: $blue-dark url('../images/business-systems/banner.jpg') no-repeat top center fixed;
  background-size: cover;
  color: $white;

  a, .icon-anchor, .Top-Bar button {
    color: $yellow;
    fill: $yellow;

    &:hover {
      color: $white;
      fill: $white !important;
    }
  }

  .main a {
    font-weight: bold;
    border-bottom: 1px dotted $yellow;

    &:hover {
      border-bottom-style: solid;
    }
  }

  .Footer .Panel {
    background-color: $blue;
  }
}