@import "vars";

body {
  font-family: "Brandon Text", "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.45;
  background-color: $white;
  color: $grey-dark;
}

a:link, a:visited {
  color: $blue;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

small, .font_small {
  font-size: 0.8em;
}
