@import "vars";

html {
  overflow-y: scroll;
  font-size: 1.063em;
}

body {
  font-family: "Brandon Grotesque", "Helvetica Neue", Helvetica, sans-serif;
  color: $black;
  line-height: 1.45;
  background-color: $blue;
  color: $white;
}

a:link, a:visited {
  color: $orange;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

small, .font_small {
  font-size: 0.8em;
}
