// Borders
$border-width: 3px;
$border-radius: 5px;

// Color palette
$black: #111;
$white: #fff;
$blue: #215CFF;
$blue-dark: #0038CC;
$orange: #FFD605;
$orange-dark: #FF7D05;
$grey-light: #bcbcbc;

// Type-size
$h1: 3.157rem;
$h2: 2.369rem;
$h3: 1.777rem;
$h4: 1.333rem;