// Borders
$border-width: 1px;
$border-radius: 5px;

// Color palette
$black: #111;
$grey-dark: #656565;
$white: #fff;
$blue: #215CFF;
$blue-dark: #0038CC;
$orange: #FFD605;
$orange-dark: #FF7D05;
$grey-light: #bcbcbc;

// Type-size
$h1: 2.887em;
$h2: 1.424em;
$h3: 1.266em;
$h4: 1.125em;