<nav class="flex col col-12 px2 my2 center">

    <h2 class="hide">Blog Navigation</h2>

    {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}"
       class="flex-auto border p2"
       style="flex-basis:0;"
       title="{{ page.previous.title }}">
        &#10094; {{ page.previous.title }}
    </a>
    {% endif %}

    {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}"
       class="flex-auto border p2"
       style="flex-basis:0;"
       title="{{ page.next.title }}">
        {{ page.next.title }} &#10095;
    </a>
    {% endif %}

</nav>
