---
layout: page
title: "Putting people at the centre"
long_title: "Putting people at the centre. UX & Design for Enterprise"
subtitle: "Changing how large organisations do design"
author: chris
date: 2016-04-03
pageClass: page--enterprise
standfirst: |
  Better business systems mean better user experiences – and a competitive edge for your business
---

<div class="row">
    <div class="column">
        <p>
            Good system design isn’t just what an interface looks like. Systems and tools work measurably better when
            designed around the needs of their users. Companies who put their staff as well as their business objectives
            at the heart of the design process see
            <a href="./improving-the-lives-of-your-employees/">the difference to their bottom line</a>.
        </p>
        <hr>
    </div>
</div>


<div class="row">
    <div class="column">
        <span class="Tag h4">Overview</span>
        <p class="h2">
            Well-designed business tools directly
            support your core business objectives.
        </p>
        <p>
            For any organisation, the most efficient systems are those that align with the way staff really work. By
            making tasks intuitive and simple, user-focused tools are naturally optimised to maximise work rates and
            minimise errors and ad-hoc fixes.
        </p>
        <p>
            100 Shapes will help you design systems that let your team work as effectively as possible. By reducing your
            staff’s pain points and improving task satisfaction, you’ll also feed into job positivity and staff
            retention. All these factors impact your profitability and your competitiveness in the market.
        </p>
    </div>
</div>

<hr>

<div class="row">
    <div class="column">
        <span class="Tag h4">Case Study</span>
        <p class="h2">
            Shaping design at the UK’s largest and most progressive companies.
        </p>
        <p>
            For any organisation, the most efficient systems are those that align with the way staff really work. By
            making tasks intuitive and simple, user-focused tools are naturally optimised to maximise work rates and
            minimise errors and ad-hoc fixes.
        </p>


        {% for project in site.projects %}
        {% if project.title == page.title %}
        {% if forloop.last %}

        {% else %}
        {% assign next_project = site.projects[forloop.index] %}
        {% endif %}
        {% endif %}
        {% endfor %}

        {% assign project = site.projects. %}

        <div class="col col-12 mb2 Fade__trigger">
            <hr class="my4">


            <a href="{{ next_project.url | prepend: site.baseurl }}"
               style="background-image: url({{ '/static/images/projects/' | prepend: site.baseurl }}{{ include.project.promo_image }});"
               class="Promo rounded p3 block">
                <div class="max-width-1 flex flex-column justify-center" style="height: 100%;">
                    <span class="Tag">Next project</span>
                    <h3 class="h2 m0">{{ next_project.promo_title }}</h3>
                </div>
            </a>
        </div>


    </div>
</div>

