.Author {
  left: -24em;
  top: 25em;
  transform: rotate(-90deg);
  transform-origin: 100% 50%;
  text-align: right;
  width: 30em;

  &__profile {
    transform: rotate(90deg);
    width: 50px;
  }

  &__details > li:not(:last-child):after {
    content: "/";
    display: inline-block;
    margin: 0 10px;
  }
}