$unit: $column-gutter;

.Banner {
  padding: $unit * 2 0;
  margin-top: $column-gutter * 4;

  @include breakpoint(medium) {
    padding-top: $unit * 4;
    padding-bottom: $unit * 4;
    margin-top: $column-gutter * 5;

    border-radius: $global-radius;
  }

  &--yellow {
    background-color: $yellow;
  }

  &--blue {
    background-color: $blue;
    color: $white;
  }
}