$unit: $column-gutter;

.Footer {
  margin: ($unit * 4) 0 ($unit / 2);

  background-color: $light-gray;
  border-radius: $global-radius;

  @include breakpoint(small only) {

    text-align: center;

    .menu {
      justify-content: center !important;
    }
  }

}