$unit: $column-gutter;

.Footer {
  margin-top: $unit * 4;

  background-color: $light-gray;

  @include breakpoint(small only) {

    text-align: center;

    .menu {
      justify-content: center !important;
    }
  }

}