.off-canvas {
  height: 100%;
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $column-gutter;
  opacity: 0;
  transition: opacity 250ms;

  a {
    color: map-get($foundation-palette, secondary);
  }

  .logo {
    fill: $blue;
  }

  .toggle-button {
    position: absolute;
    top: $column-gutter;
    right: $column-gutter;
  }
}

.off-canvas-content, .off-canvas-content {
  background-color: transparent;
}

.is-open-right {
  transform: none;
}

.off-canvas.position-right.is-open {
  right: 0px;
  opacity: 1;
}

.off-canvas.position-right {
  right: 100%;
  top: 0;
  width: 100%;
}
