$unit: $column-gutter;

.Promo {
  display: block;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: top right;

  height: $unit * 10;
  @include breakpoint(medium) {
    height: $unit * 17;
  }

  color: $white;
  background-color: $black;
  border-radius: $global-radius;
  perspective: 1px; // fix chrome border-radius clipping
  transition: color 0.3s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &::before {
    z-index: 2;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  }

  &::after {
    z-index: 3;
    opacity: 0;
    background-color: rgba(map-get($foundation-palette, secondary), 0.90);
    transition: opacity 0.3s
  }

  &:hover {
    color: inherit;

    &::after {
      opacity: 1;
    }

    .Promo__heading {
      transform: translateY(-0.8rem);

      @include breakpoint(small only) {
        transform: translateY(0.8rem);
      }

    }

    .Promo__content {
      color: $black !important;
    }
  }

  &__heading {
    transition: transform 800ms;
    max-width: 15em;
  }

  &__logo {
    position: relative;
    height: 100%;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;

    fill: currentColor;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 4;
    height: 100%;
    position: relative;

    color: $white !important;
    fill: currentColor;
  }

  &__content--centered {
    justify-content: center !important;
    align-items: center;
  }

  &--enterprise {
    height: $unit * 12;

    @include breakpoint(medium) {
      height: $unit * 20;
    }
  }

  &--venture {

    &:before {
      background: none;
    }

    height: $unit * 8;
    @include breakpoint(medium) {
      height: $unit * 10;
    }

    .Promo__heading {
      max-width: none;
    }
  }

  &--venture--climb::after {
    background-color: #b3daf6;
  }

  &--venture--orbit::after {
    background-color: #F54946;
  }
}

