.Promo {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 350px;

  color: $white;
  background-color: $black;

  &:hover {
    color: $white;
  }

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__row {
    height: 100%;
  }
}

