.Top-Bar {
  position: absolute;
  top: 0;
  width: 100%;

  &--yellow a {
    color: $orange;
  }

  &--blue a {
    color: $white;
  }
}

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}