.Top-Bar {
  position: absolute;
  top: 0;
  width: 100%;

  .icon-menu {
    fill: currentColor;
  }

  a, button {
    color: $blue;
  }
}

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}