---
title: "Blog"
long_title: "100 Shapes Blog"
subtitle: "All things design related"
layout: default
---

<header class="col col-12 px2">
    {% include page/titles.html title=page.title long_title=page.long_title subtitle=page.subtitle %}
</header>

<div class="col col-12 px2">
    <p class="inline-block mr2">On this page:
    <ol class="list-reset inline">
        <li class="inline-block mr2">
            <a href="#posts">Recent posts</a>
        </li>
        <li class="inline-block mr2">
            <a href="#categories">Categories</a>
        </li>
        <li class="inline-block mr2">
            <a href="#authors">Authors</a>
        </li>
    </ol>
    </p>
</div>

<div class="col col-12 px2 mb2"
     id="posts">
    <div class="mxn1 clearfix">
    {% for post in paginator.posts | sort: 'date', 'last' %}
        <div class="p1">
            {% include blog/list-item.html post=post %}
        </div>
    {% endfor %}
    </div>
</div>

<!-- Pagination links -->
<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
    <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
    <span class="next ">Next</span>
    {% endif %}
</div>


<div class="col col-6 md-col-4 px2"
     id="categories">
    <h3 class="mb1">Categories</h3>
    <ul class="list-reset">
        {% for category in site.categories %}
        <li>
            <a href="/blog/{{ category | first }}/">{{ category | first | capitalize }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="col col-6 md-col-4 px2"
     id="authors">
    <h3 class="mb1">Authors</h3>
    <ul class="list-reset">
        {% for item in site.data.people %}
        {% assign person = item | last %}
        <li>
            <a href="/blog/authors/{{ item | first }}/">{{ person.name }}</a>
        </li>
        {% endfor %}
        <li class="mt2">
            <small>
                <a href="{{ '/join-us/' | prepend: site.baseurl }}">Meet the team &#10095;</a>
            </small>
        </li>
    </ul>
</div>