---
title: "Blog"
long_title: "100 Shapes Blog"
subtitle: "All things design related"
layout: page
---

<div>
    <p class="inline-block mr2">On this page:
    <ol class="list-reset inline">
        <li class="inline-block mr2">
            <a href="#posts">Recent posts</a>
        </li>
        <li class="inline-block mr2">
            <a href="#categories">Categories</a>
        </li>
        <li class="inline-block mr2">
            <a href="#authors">Authors</a>
        </li>
    </ol>
    </p>
</div>

<div class="mb2"
     id="posts">
    <div class="mxn1 clearfix">
    {% for post in paginator.posts | sort: 'date', 'last' %}
        <div class="p1">
            {% include blog/list-item.html post=post %}
        </div>
    {% endfor %}
    </div>
</div>

<p class="right-align full-width">
    {% include blog/paginate-list.html %}
</p>

<div class="mxn2 clearfix">
    <div class="col col-6 md-col-4 px2"
         id="categories">
        <h3 class="mb1">Categories</h3>
        <ul class="list-reset">
            {% for category in site.categories %}
            <li>
                <a href="{{ '/blog/' | prepend: site.baseurl }}{{ category | first }}/">
                    {{ category | first | capitalize }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col col-6 md-col-4 px2"
         id="authors">
        <h3 class="mb1">Authors</h3>
        <ul class="list-reset">
            {% for item in site.data.people %}
            {% assign person = item | last %}
            <li>
                <a href="{{ '/join-us/' | prepend: site.baseurl }}{{ item | first }}/">{{ person.name }}</a>
            </li>
            {% endfor %}
            <li class="mt2">
                <a href="{{ '/join-us/#team' | prepend: site.baseurl }}">Meet the team &#10095;</a>
            </li>
        </ul>
    </div>
</div>