$unit: $column-gutter;

.mb0 {
  margin-bottom: 0;
}

.mb {
  margin-bottom: $unit;
}

.mb2 {
  margin-bottom: $unit * 2;
}
.mv-half {
  margin-top: $unit * 0.5;
  margin-bottom: $unit * 0.5;
}

.mt0 {
  margin-top: 0 !important;
}

.mt {
  margin-top: $unit;
}

.mt2 {
  margin-top: $unit * 2;
}

.mv {
  margin-top: $unit;
  margin-bottom: $unit;
}

.mv2 {
  margin-top: $unit * 2;
  margin-bottom: $unit * 2;
}

.p {
  padding: $unit;
}

.pb {
  padding-bottom: $unit;
}

.md-p2 {
  @include breakpoint(medium) {
    padding: $unit * 2;
  }
}

.md-p3 {
  @include breakpoint(medium) {
    padding: $unit * 3;
  }
}

.lg-p3 {
  @include breakpoint(large) {
    padding: $unit * 3;
  }
}

.sm-mt-only {
  @include breakpoint(small only) {
    margin-top: $unit;
  }
}

.pv {
  padding-top: $unit;
  padding-bottom: $unit;
}

.pv2 {
  padding-top: $unit * 2;
  padding-bottom: $unit * 2;
}

.m {
  margin: $unit;
}