@font-face {
  font-family: 'BrandonTextWeb-Light';
  src: url('../webfonts/31F54B_0_0.eot');
  src: url('../webfonts/31F54B_0_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/31F54B_0_0.woff2') format('woff2'), url('../webfonts/31F54B_0_0.woff') format('woff'), url('../webfonts/31F54B_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'BrandonTextWeb-Regular';
  src: url('../webfonts/31F54B_1_0.eot');
  src: url('../webfonts/31F54B_1_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/31F54B_1_0.woff2') format('woff2'), url('../webfonts/31F54B_1_0.woff') format('woff'), url('../webfonts/31F54B_1_0.ttf') format('truetype');
}

$body-weight-regular: 300;
$body-weight-book: 400;

// Generate .h1, .h2, ... classes
@each $size, $headers in $header-sizes {
  @include breakpoint($size) {
    @each $header, $font-size in $headers {
      .#{$header} {
        font-size: rem-calc($font-size) !important;
      }
    }
  }
}

p {
  font-weight: $body-weight-light;
}

h2, .h2,
h4, .h4 {
  font-family: 'BrandonTextWeb-Light', Helvetica, sans-serif;
}

h3, .h3 {
  font-family: $body-font-family;
}

h1, .h1,
h5, .h5,
h6, .h6 {
  font-family: $header-font-family;
}

.main {
  @include breakpoint(large) {

    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6,
    p,
    li{
      max-width: grid-column(8);
    }

    h2, .h2 {
      margin-top: 4.5rem;
    }
  }
}

.fcw {
  color: $white !important;
}
