<a href="{{ include.venture.url | prepend: site.baseurl }}"
   class="Promo Promo--venture Promo--venture--{{ include.key }} {{ site.animation_in_classes }} p md-p2"
   style="background-color: {{ include.venture.themeColour }};">
    <div class="Promo__content Promo__content--centered text-center">
        <div class="Promo__heading">
            <h3 class="hide">{{ include.venture.name }}</h3>
            <span data-interchange="[partials/{{ include.venture.iconSmall }}.html, small], [partials/{{ include.venture.iconLarge }}.html, medium]]"></span>
            <br>
            <div class="cta-label">
                    <span class="cta-label__label h5">
                        {{ include.venture.tagline }}
                    </span>
            </div>
        </div>
    </div>
</a>
