---
layout: page
title: Putting people at the centre
pageClass: page--enterprise
standfirst: |
  Better business systems mean better user experiences – and that means a competitive edge for your business.
---

<div class="row main">
    <div class="medium-offset-1 medium-10 column">
        <p>
            Good system design isn’t just what an interface looks like. The fact is, systems and tools work
            measurably better when designed around the needs of their users. And companies who put their staff as
            well as their business objectives at the heart of the design process see <a
                href="./UX-and-your-bottom-line/">the
            difference to their bottom line</a>.
        </p>
        <p class="Tag h5 mt2">Efficiency gains</p>
        <h2 class="mt0">
            Well-designed business tools directly
            support your core business objectives.
        </h2>
        <p>
            For any organisation, the most efficient systems are those that align with the way staff really work. By
            making tasks intuitive and simple, user-focused tools are naturally optimised to maximise work rates and
            minimise errors and ad-hoc fixes.
        </p>
        <p>
            100 Shapes will help you design systems that let your team work as effectively as possible. By reducing
            your
            staff’s pain points and improving task satisfaction, you’ll also feed into <a
                href="./making-your-employees-lives-better/">job positivity and staff
            retention</a>. All these factors impact your profitability and your competitiveness in the market.
        </p>

        <p class="Tag h5 mt2">Case Studies</p>

        <h2 class="mt0">
            We’re shaping the way some of the UK’s
            best-known companies work.
        </h2>
    </div>
</div>

<div class="row mb2">
    <div class="medium-offset-1 medium-10 column">
        <div class="row">
            {% assign enterprise_projects = site.projects | where: 'category', 'enterprise' | sort: 'priority' |
            reverse | limit: 1 %}
            {% for project in enterprise_projects limit: 2 %}
            <div class="column small-12 large-6 mb">
                {% include page/project-promo.html project=project %}
            </div>
            {% endfor %}
        </div>

        <a href="/work/" class="expanded button large warning">See more of our work</a>

    </div>
</div>

<div class="row main">
    <div class="medium-offset-1 medium-10 column">

        <p class="Tag h5 mt2">Approach</p>
        <h2 class="mt0">We develop user research and design programs
            tailored for your needs.</h2>

        <p>Our approach is a combination of art and science, practical and creative. We’ll work with you and your
            team to understand your organisation’s capabilities, challenges and goals. Then we’ll develop a research
            and design program focused on delivering real, measurable value to your staff and business.</p>

        <p>What we don’t do is impose a set of systems or preconceptions on you. We find out what your organisation
            and your staff really need, and that’s what we set about designing.</p>

        <p class="Tag h5 mt2">Technical</p>
        <h2 class="mt0">Our designers are fluent in tech – and they’ll be on hand
            to support the development team throughout.</h2>

        <p>100 Shapes can work with your existing technical team or introduce you to our build partners.</p>

        <p>You might be adapting a legacy system or looking to adopt a new solution. Or you might be considering a
            bespoke system as the best long-term value for money. Whatever the best technical solution for you,
            we’ll develop a design approach to suit, and be there to support the entire development and rollout
            process.</p>


        <p class="Tag h5 mt2">Get in Touch</p>
        <h2 class="mt0">Investment in design is an investment in your people –
            and the long-term success of your business.</h2>

        <p>We’re helping our clients shed the excess and build better, leaner, more-people focused organisations
            with clearly defined returns on investment.</p>

        <p>Find out how our design approach can make a difference to your business.</p>

        <ul class="no-bullet mt2 ctas">
            <li class="mt">
                {% assign emailHref = 'mailto:' | append: site.email %}
                {% include page/icon-anchor.html label=site.email href=emailHref icon='mail' %}
            </li>
            <li class="mt">
                {% assign phoneHref = 'tel:' | append: site.phone_number %}
                {% include page/icon-anchor.html label=site.phone_number_display href=phoneHref icon='phone' %}
            </li>
            <li class="mt">
                {% include page/icon-anchor.html label=site.address href=site.address_link icon='location-pin' %}
            </li>
        </ul>


    </div>
</div>