---
layout: page
title: "Work"
long_title: Lorem business systems mean user experiences - and improved outcomes for your business
permalink: /work/
---

<ol class="list-reset inline">
    <li class="inline-block mr3">
        <a href="#projects">Projects</a>
    </li>
    <li class="inline-block mr3">
        <a href="#enterprise-ux">Enterprise UX</a>
    </li>
</ol>

<h2 id="projects" class="hide">Recent projects</h2>
<p class="mt4">Various projects <a href="/work">our work</a> dolor sit amet, consectetur adipiscing
    elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    minim veniam.
</p>
<div class="mxn1 clearfix">
    {% for project in site.projects %}
    <div class="col col-12 px1 mt3">
        {% include page/project-promo.html project=project %}
    </div>
    {% endfor %}
</div>


<h2 id="enterprise-ux" class="pt4 h2">Enterprise UX</h2>
<p>
    All things Enterprise UX solutions. Lorem ipsum dolor sit amet, consectetur adipiscing
    elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    minim veniam.
</p>

{% include page/enterprise-promo.html %}
