body {
  margin: 0;

  @include breakpoint(small only) {
    font-size: 81.8181%;
  }

  @include breakpoint(medium) {
    margin-left: $column-gutter;
    margin-right: $column-gutter;
<<<<<<< HEAD
    margin-bottom: $column-gutter;
=======
>>>>>>> 91ed3f9... Updated typestyles
  }

  @include breakpoint(large) {
    margin-left: $column-gutter * 2;
    margin-right: $column-gutter * 2;
    margin-bottom: $column-gutter * 2;
  }
}

svg {
  fill: currentColor;
}