//
// FOUNDATION SETTINGS
//
@import "foundation-sites/scss/util/unit";

// Palette
$blue: #215CFF;
$blue-dark: #0038CC;
$yellow: #FFD605;
$orange: #FF7D05;

$light-gray: #F5F5F5;

$foundation-palette: (
        primary: $blue,
        secondary: #777,
        success: #3adb76,
        warning: $yellow,
        alert: #ec5840
);


// Globals
$global-flexbox: true;
$global-width: rem-calc(1000);
$global-radius: 4px;

// Typography
$header-font-family: "Brandon Text";
$body-font-family: "Sentinel", Helvetica, sans-serif;
$lead-font-size: $global-font-size * 1.5;
$header-margin-bottom: 1.5rem;
$header-lineheight: 1.13;
$paragraph-lineheight: 1.33;
$lead-lineheight: 1.117;
$header-sizes: (
        small: (
                'h1': 43.33,
                'h2': 20,
                'h3': 19,
                'h4': 18,
                'h5': 17,
                'h6': 16,
        ),
        medium: (
                'h1': 61.7,
                'h2': 43.3,
                'h3': 30.43,
                'h4': 24.07,
                'h5': 20,
                'h6': 16,
        )
);
$anchor-color-hover: $blue-dark;
$header-margin-bottom: 2.1rem;

// Grid
$column-gutter: rem-calc(30);

// Topbar
$topbar-background: transparent;
