//
// FOUNDATION SETTINGS
//
@import "foundation-sites/scss/util/unit";

// Palette
$blue: #215CFF;
$blue-dark: #0038CC;
$yellow: #FFD605;
$orange: #FF7D05;

$light-gray: #F5F5F5;

$foundation-palette: (
        primary: $blue,
        secondary: $yellow,
        success: #3adb76,
        warning: $yellow,
        alert: #ec5840
);


// Globals
$global-flexbox: true;
$global-width: rem-calc(1200);
$global-radius: 8px;

// Typography
$header-font-family: 'BrandonTextWeb-Regular', Helvetica, sans-serif;
$body-font-family: 'freight-text-pro', Georgia, serif;
$global-font-size: 137.5%;
$lead-font-size: $global-font-size * 1.125;
$header-margin-bottom: 1.5rem;
$header-lineheight: 1.2;
$paragraph-lineheight: 1.3;
$lead-lineheight: 1.33;
$blockquote-border: none;
$blockquote-padding: 0;
$cite-font-size: rem-calc(25.629);
<<<<<<< HEAD
$body-weight-light: 300;
$body-weight-book: 400;
=======
>>>>>>> 91ed3f9... Updated typestyles
$header-sizes: (
        small: (
                'h1': 46.184,
                'h2': 28.833,
                'h3': 25.629,
                'h4': 22.781,
                'h5': 18,
                'h6': 15,
        ),
        medium: (
                'h1': 58.452,
                'h2': 46.184,
                'h3': 36.491,
                'h4': 28.833,
                'h5': 18,
                'h6': 15,
        )
);

$anchor-color-hover: $blue-dark;
$header-margin-bottom: 2.1rem;

// Grid
$column-gutter: rem-calc(30);
$grid-column-gutter: (
        small: $column-gutter,
        large: $column-gutter
);


// Topbar
$topbar-background: transparent;
$topbar-padding: $column-gutter 0;

// TitleBar
$titlebar-background: transparent;
$titlebar-color: inherit;
$titlebar-padding: $column-gutter 0;

// Off Canvas
$maincontent-shadow: none;
$offcanvas-exit-background: rgba($blue, 0.25);
$offcanvas-background: $blue-dark;