// Borders
$border-width: 1px;
$border-radius: 5px;

// Color palette
$black: #111;
$grey-dark: #4c4c4c;
$grey-light: #f8f8f8;
$white: #fff;
$blue: #215CFF;
$blue-dark: #0038CC;
$yellow: #FFD605;
$orange: #FF7D05;

// Type-size
$h1: 3.28em; // Confirmed
$h2: 2.3em; // Confirmed
$h3: 1.266em;
$h4: 1.21em; // Confirmed

// Widths
$width-4: 56.842rem;

// Spacing
$space-1: .5rem;
$space-2: 1rem;
$space-3: 2rem;
$space-4: 4rem;