.Panel {
  min-height: $space-1 * 45; // Mobile
  position: relative;

  background-color: $grey-dark;
  color: $white !important;

  @media #{$breakpoint-md} {
    min-height: $space-1 * 55;
  }

  &--small {
    min-height: $space-1 * 30;
  }
}