.Promo {
  background-size: cover;
  background-position: center;
  height: $space-1 * 22; // Mobile
  overflow: hidden;
  position: relative;

  background-color: $grey-dark;
  color: $white !important;

  > div:first-child {
    z-index: 1;
  }

  @media #{$breakpoint-md} {
    height: $space-1 * 30;
  }

  &--large {
    height: $space-1 * 44;

    @media #{$breakpoint-md} {
      height: $space-1 * 60;
    }
  }

  &--small {
    height: $space-1 * 8;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;

    background-color: transparentize($white, 1);
  }

  &:hover {

    text-decoration: none;

    &::after {
      background-color: transparentize($white, 0.8);
    }

  }
}