.Promo {
  background-size: cover;
  background-position: center;
  height: $space-1 * 33; // Mobile
  overflow: hidden;
  position: relative;

  background-color: $grey-dark;
  color: $white !important;

  > div:first-child {
    z-index: 1;
  }

  &--large {
    height: $space-1 * 53;

    //@media #{$breakpoint-md} {
    //  height: $space-1 * 60;
    //}
  }

  &--small {
    height: $space-1 * 8;
  }

  &--init {
    -webkit-transform: translate3d(0, 0, 0);
    transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    opacity: 0;
    transform: translateY(4em);
  }

  &--visible {
    opacity: 1;
    transform: translateY(0);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;

    background-color: transparentize($white, 1);
  }

  &:hover {

    text-decoration: none;

    &::after {
      background-color: transparentize($white, 0.8);
    }

  }
}