html {
  font-size: 0.9em;

  @media #{$breakpoint-sm} {
    font-size: 1em;
  }

  @media #{$breakpoint-md} {
    font-size: 1.063em;
  }
}

p {
  margin-bottom: 1.3em;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  line-height: 1.2;
}

p, ul, ol {
  &:not(.full-width) {
    max-width: 40rem;
  }
}
