---
layout: default
---

<div class="col col-12 px2">

    {% capture page-title %}
    Posts by {{ page.title | capitalize }}
    {% endcapture %}

    <header>
        {% include page/titles.html title=page-title %}
    </header>

    <div class="mxn1 clearfix">
        {% assign index = true %}
        {% for post in site.posts %}
        {% if post.author contains page.author %}
        {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}

        {% unless year == this_year %}
        {% assign year = this_year %}
        <h2 class="h2 px1">{{ year }}</h2>
        {% endunless %}

        <div class="p1">
            {% include post/list-item.html post=post %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>