---
layout: default
---

{% if page.bannerTheme %}
<header class="Banner mb2 Banner--{{ page.bannerTheme }}">
    {% else %}
    <header class="Banner">
{% endif %}

    <div class="row">
        <div class="small-12 medium-offset-1 medium-10 large-7 column">
            {% include page/titles.html title=page.title long_title=page.long_title standfirst=page.standfirst
            slug=page.url %}
        </div>
    </div>

    {% if page.bannerImage %}
    {% assign bannerImage = '/static/images/page-banners/' | append: page.bannerImage %}
    <div class="row mt2 md-mt4">
        <div class="small-12 medium-offset-1 medium-10 column">
            <img src="{{ bannerImage | prepend: site.baseurl }}"
                 alt="Promo image"/>
        </div>
    </div>
    {% endif %}
</header>

{{ content }}
