---
layout: default
---

<header class="Banner">
    <div class="row">
        <div class="small-11 medium-10 large-8 column">
            {% include page/titles.html title=page.title long_title=page.long_title standfirst=page.standfirst
            slug=page.url %}
        </div>
    </div>

    {% if page.bannerImage %}
    {% assign bannerImage = '/static/images/page-banners/' | append: page.bannerImage %}
    <div class="row">
        <div class="column">
            <img src="{{ bannerImage | prepend: site.baseurl }}"
                 alt="Promo image"
                 class="fit"/>
        </div>
    </div>
    {% endif %}
</header>

<div class="row main">
    <div class="column">
        {{ content }}
    </div>
</div>

{% include page/author.html %}