---
layout: default
---
<div class="Wrapper">

    <header class="row">
        <div class="columns">
            {% include page/titles.html title=page.title long_title=page.long_title standfirst=page.standfirst
            slug=page.url %}
    </header>
    </header>

    {% if page.bannerImage %}
    {% assign bannerImage = '/static/images/page-banners/' | append: page.bannerImage %}
    <div class="row">
        <div class="columns">
            <img src="{{ bannerImage | prepend: site.baseurl }}"
                 alt="Promo image"
                 class="fit"/>
        </div>
    </div>
    {% endif %}


    {{ content }}


</div>

{% include page/author.html %}