---
layout: default
---

<article class="col col-12 px2 mb2"
         itemscope
         itemtype="http://schema.org/BlogPosting">

    <header>
        {% if page.long_title %}
        <h1 itemprop="name headline" class="h1">{{ page.long_title }}</h1>
        {% else %}
        <h1 itemprop="name headline" class="h1">{{ page.title }}</h1>
        {% endif %}

        {% if page.subtitle %}
        <p class="h2">{{ page.subtitle }}</p>
        {% endif %}

        <p>
            <time datetime="{{ page.date | date_to_xmlschema }}"
                  itemprop="datePublished">

                {% assign post-day-display = page.date | date: "%-d" %}
                {% assign post-month = page.date | date: "%m" %}
                {% assign post-month-display = page.date | date: "%b" %}
                {% assign post-year = page.date | date: "%Y" %}

                <a href="/blog/archive/{{ post-year }}/{{ post-month }}/">
                    {{ post-month-display }}
                </a>
                {{ post-day-display }},
                <a href="/blog/archive/{{ post-year}}/">
                    {{ post-year }}
                </a>
            </time>
            {% if page.author %}
            {% assign author = site.data.people[page.author] %}
            {% capture author_url %}/blog/authors/{{ page.author }}/{% endcapture %}
            •
        <span itemprop="author"
              itemscope
              itemtype="http://schema.org/Person">
            <a href="{{ author_url | prepend: site.baseurl }}"
               itemprop="name">
                {{ author.name_long }}
            </a>
        </span>
            {% endif %}
        </p>
    </header>

    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>

</article>

{% include post/pagination.html %}
