---
layout: default
---
<article class="col col-12 px2"
         itemscope
         itemtype="http://schema.org/BlogPosting">

    <header>
        {% if page.long_title %}
        <h1 itemprop="name headline" class="h1">{{ page.long_title }}</h1>
        {% else %}
        <h1 itemprop="name headline" class="h1">{{ page.title }}</h1>
        {% endif %}

        {% if page.subtitle %}
        <p class="h2">{{ page.subtitle }}</p>
        {% endif %}

        <p>
            <time datetime="{{ page.date | date_to_xmlschema }}"
                  itemprop="datePublished">
                {{ page.date | date: "%b %-d, %Y" }}
            </time>
            {% if page.author %}
            •
        <span itemprop="author"
              itemscope
              itemtype="http://schema.org/Person">
            <span itemprop="name">
                {{ page.author }}
            </span>
        </span>
            {% endif %}
        </p>
    </header>

    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>

</article>
