---
layout: default
---

{% include blog/paginate-single.html %}

<article class="col col-12 px2 mb2"
         itemscope
         itemtype="http://schema.org/BlogPosting">

    <header>
        {% if page.long_title %}
        <h1 itemprop="name headline" class="h1 mb0">{{ page.long_title }}</h1>
        {% else %}
        <h1 itemprop="name headline" class="h1 mb0">{{ page.title }}</h1>
        {% endif %}

        {% if page.subtitle %}
        <p class="h2 mt0">{{ page.subtitle }}</p>
        {% endif %}

        <p>
            <time datetime="{{ page.date | date_to_xmlschema }}"
                  itemprop="datePublished">

                {% assign post-day-display = page.date | date: "%-d" %}
                {% assign post-month = page.date | date: "%m" %}
                {% assign post-month-display = page.date | date: "%b" %}
                {% assign post-year = page.date | date: "%Y" %}

                <a href="/blog/archive/{{ post-year }}/{{ post-month }}/">
                    {{ post-month-display }}
                </a>
                {{ post-day-display }},
                <a href="/blog/archive/{{ post-year}}/">
                    {{ post-year }}
                </a>
            </time>

            {% if page.author %}
                {% assign author = site.data.people[page.author] %}
                {% capture author_url %}/join-us/{{ page.author }}/{% endcapture %}
                •
                <span itemprop="author"
                      itemscope
                      itemtype="http://schema.org/Person">
                    <img src="{{ author.gravatar }}?s=80"
                         class="Profile"
                         alt="Profile of {{ author.name_long }}">
                    <a href="{{ author_url | prepend: site.baseurl }}"
                       itemprop="name">
                        {{ author.name_long }}
                    </a>
                </span>
            {% endif %}
        </p>
        <p>Category:
            <a href="/blog/{{ page.category }}/">
                {{ page.category | capitalize }}
            </a>
        </p>
    </header>

    <div itemprop="articleBody">
        {{ content }}
    </div>

</article>

{% include blog/paginate-single.html %}
