---
layout: default
---

<header style="background-color: {{ page.themeColour }}"
        class="Banner mb2">
    <div class="row">
        <div class="column">
            {% include page/titles.html title=page.title long_title=page.long_title standfirst=page.standfirst %}
        </div>
    </div>
</header>

{{ content }}


{% for project in site.projects %}
{% if project.title == page.title %}
{% if forloop.last %}
{% assign next_project = site.projects.first %}
{% else %}
{% assign next_project = site.projects[forloop.index] %}
{% endif %}
{% endif %}
{% endfor %}

<div class="row mt">
    <div class="column">
        {% include page/project-promo.html project=next_project %}
    </div>
</div>

{% include page/author.html %}

