---
layout: default
---

<div class="Banner mb4">
    <div class="Wrapper max-width-4">
        <div class="clearfix">
            <div class="col col-12 sm-col-10 md-col-10">
                {% include page/titles.html title=page.title long_title=page.long_title subtitle=page.subtitle %}
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam debitis dolorem dolorum hic illo
                    laboriosam natus, obcaecati pariatur provident quisquam quos, repellat repellendus soluta voluptates
                    voluptatum. Amet labore laudantium quisquam.</p>
            </div>
        </div>
    </div>
</div>

<div class="Wrapper max-width-4">
    <div class="clearfix">

        {{ content }}

        {% for project in site.projects %}
        {% if project.title == page.title %}
        {% if forloop.last %}
        {% assign next_project = site.projects.first %}
        {% else %}
        {% assign next_project = site.projects[forloop.index] %}
        {% endif %}
        {% endif %}
        {% endfor %}

        <div class="col col-12 mb2">
            <hr class="my4">


            <a href="{{ next_project.url | prepend: site.baseurl }}"
               style="background-image: url({{ '/static/images/projects/' | prepend: site.baseurl }}{{ include.project.promo_image }});"
               class="Promo rounded p3 block">
                <div class="max-width-1 flex flex-column justify-center" style="height: 100%;">
                    <span class="Tag">Next project</span>
                    <h3 class="h2 m0">{{ next_project.promo_title }}</h3>
                </div>
            </a>
        </div>
    </div>
</div>

